#card2 {
    padding: 3%;
    margin: auto 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-color: #E0E0DE;
    border-radius: 13px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#create_p {
    color: #036564;
    margin-top: 0%;
    font-size: 5rem;
}

#text_table_create {
    display: flex;
    justify-content: center;
}

.Toastify__toast-body {
    font-size: 35px; /* Altere para o tamanho de fonte desejado */
  }
@media screen and (max-width: 768px) {

    #card2 {
        margin: 25px;
        margin-top: 40px;
    }
    #create_p {
        color: #036564;
        margin-top: 0%;
        font-size: 15vw;
    }

    .Toastify__toast-body {
        font-size: 30px; /* Altere para o tamanho de fonte desejado */
      }
}